name = "dl"
main = "dist/worker.js"

compatibility_date = "2025-09-15"
workers_dev = true
compatibility_flags = [ "nodejs_compat" ]
upload_source_maps = true
send_metrics = false

# developers.cloudflare.com/workers/configuration/routing/custom-domains
# using custom domain as test for download.rethinkdns.com only
# CNAME records, if any, for "custom domains" must be removed

[[routes]]
pattern = "dl.bravedns.com/*"
zone_name = "bravedns.com"

[[routes]]
pattern = "download.bravedns.com/*"
zone_name = "bravedns.com"

[[routes]]
pattern = "dl.rethinkdns.com/*"
zone_name = "rethinkdns.com"

[[routes]]
pattern = "download.rethinkdns.com"
custom_domain = true

[build]
command = "npx webpack"
cwd = "."

[[r2_buckets]]
binding = 'R2_RDNS'
bucket_name = 'rdns'
preview_bucket_name='z-test-rdns'

[vars]
LATEST_VCODE = "53"
GEOIP_TSTAMP = "1667349639157"
STORE_URL = "https://dist.rethinkdns.com/"
R2_STORE_URL = "https://cfstore.rethinkdns.com/"
WARP_ACTIVE = "true"
